
<div class="text-center" id="errorNotifications">
	<h1 class="errorMessage"> 400 Bad Request </h1>
	<h3 class="errorMessage"> Null or Invalid content entered. </h3>
	<h3> <a id="errorLink" href="/"> Home Page </a> </h3>
</div>

